body {
    margin: 0;
    background-color: #061c34;
    color: #fff;
    font: 18px Roboto, 'SansSerif';
}

.app-header {
    text-transform: uppercase;
    text-align: center;
    margin: 40px 20px 30px 20px;
}

.container {
    margin: auto;
}
.root-wrapper {
    max-width: 960px;
}

.section-icon {
    width: 32px;
    height: 32px;
}

.leftToolbar {
    background-color: #061c34;
    color: #fff;
}
.leftToolbar-link {
    color: #fff;
    text-decoration: none;
}

.leftToolbar-header {
    color: #fff;
    font: 26px 'Poppins', sans-serif;
    margin: 20px 20px 40px 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
